@using Services.Mail
@model FeedbackRequestNotificationModel

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Leave a Review</title>
    </head>
    <body>
        <h2>Hello, @Model.Name!</h2>
        <p>Your tour "@Model.TourName" has ended.</p>
        <p>Please leave a review about the tour agency "@Model.AgencyInfo".</p>
    </body>
</html>
