@using Services.Mail
@model RegistrationNotificationModel

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registration Successful</title>
    </head>
    <body>
        <h2>Welcome, @Model.Name!</h2>
        <p>You have successfully registered on our website.</p>
        <p>If you are a tourist, you can search for and book tours. If you are a travel agency manager, please contact the administration through the support chat on the website or use this email address to obtain manager rights. Managers can create and manage tours using the tour builder.</p>
    </body>
</html>
