@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Wanderlust Explorers</PageTitle>

<h1>Wanderlust Explorers</h1>
<h3>Loading...</h3>

@code{
    protected override async Task OnInitializedAsync()
    {
        await Task.Yield();
        NavigationManager.NavigateTo("tours");
    }
}