.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 18px;
    font-weight: 600;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
    .nav-item > .nav-link {
        padding-right: 20px;
        padding-left: 20px;
        cursor: inherit;
        white-space: nowrap;
    }

    .nav-item > a {
        color: darkcyan;
        transition: all 0.4s ease;
        border-radius: 20px;
        height: 100%;
        display: flex;
        align-items: center;
        line-height: 3rem;
        cursor: inherit;
    }

    .nav-item.chosen > a {
        border: 2px solid deepskyblue;
    }

        .nav-item > a:hover {
            background-color: deepskyblue;
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
